$border-grey: #504c4c;

.root {
  position: relative;
}

.runButton, .runTestsButton {
  z-index: 5;
  position: absolute;
  left: 35vw;
  top: 85vh;
  padding: 5px 46px;
  margin-right: 20px;
  font-size: 21px;
}

.runTestsButton {
  left: 80vw;
  padding: 5px 22px;
}

.editors {
  display: flex;
  flex-direction: row;
}


.editorContainer {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-grey;
  border-right: 1px solid $border-grey;
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

h3.title {
  background: #000;
  margin: 0;
  text-align: left;
  color: #b3b3b3;
  font-size: 20px;
  padding: 5px 0 5px 20px;
}

.resultContainer {
  width: 50vw;
  height: 50vh;
  background: #272822;

  .result {
    background: #202020;
    font-size: 14px;
    color: #b3b3ad;
    white-space: pre;
    &.error{
      color: red;
    }
  }
}

